<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two Four Kay</title>
    <script src="htmx.js"></script>
    <script src="response-targets.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
    <link href="output.css" rel="stylesheet">
</head>
<body hx-ext="response-targets">
<header class="bg-blue-500 p-4">
    <h1 class="text-3xl font-bold underline text-white">Two Four Kay</h1>
</header>

<div class="relative flex min-h-screen flex-col sm:flex-row
            overflow-hidden bg-gray-50 py-4 sm:py-8">

    <div class="bg-red-300 transition-all h-32 p-4 content"
         _="init wait 4s
                then add .h-0
                then remove .h-32
                then remove .p-4

            on click
                add .h-0
                remove .h-32
                remove .p-4"
         id="errors">
        <h2 class="text-xl">Error</h2>{{message}}</div>
</div>
</body>
</html>
